


.lt_sort{
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0px 10px;
}

.lt_sort a{
    float: left;
    width: 25%;
    text-align: center;
    color: #333;
}

.lt_sort a.now{
    color: rgb(201, 165, 125);
}

