<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘分类</title>
    <link type="image/x-icon" rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/search.css">
</head>

<body>

    <div class="lt_container">
        <div class="lt_header">
            <a href="javascript:history.go(-1);" class="icon_left">
                <span class="mui-icon mui-icon-back"></span>
            </a>

            <h4>搜索中心</h4>



        </div>


        <div class="lt_content">

            <div class="mui-scroll-wrapper">

                <div class="mui-scroll">
                    <!-- 搜索框表单 -->
                    <div class="lt_search">
                        <form action="">
                            <input type="text" placeholder="请输入搜索关键字">
                            <a href="javascript:;">搜索</a>
                        </form>
                    </div>

                    <!-- 搜索历史 -->
                    <div class="lt_history">

                    </div>
                </div>

            </div>

        </div>


        <div class="lt_footer">
            <ul>
                <li>
                    <a href="index.html">
                        <span class="fa fa-home"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="category.html">
                        <span class="fa fa-bars"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="cart.html">
                        <span class="fa fa-shopping-cart"></span>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <span class="fa fa-user"></span>
                        <p>会员中心</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <script type="text/html" id="historyData">

        {{if arr.length ==0}}
        <p>没有搜索历史记录</p>
        {{/if}}

        {{if arr.length > 0 }}
        <div class="mui-clearfix">
            <span class="mui-pull-left">搜索历史</span>
            <span class="mui-pull-right fa fa-trash btn_empty">清空记录</span>
        </div>
        <ul>
            {{each arr v i}}
            <li>
                <a href="searchList.html?key={{v}}">{{v}}</a>
                <span data-index='{{i}}' class="mui-icon mui-icon-closeempty btn_delete"></span>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </script>





    <script src="lib/mui/js/mui.min.js"></script>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src="lib/template-web.js"></script>
    <script src="js/common.js"></script>
    <script src="js/search.js"></script>
</body>

</html>